body {
  background: #333;
  color: #fff;
}

input {
  background-color: #333;
  color: #fff;
}

button {
  background-color: rgb(80, 80, 80);
  cursor: pointer;
  color: #fff;
}

.btn {
  float: right;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 0.8rem;
  margin: 1rem;
  width: 50%;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 0.8rem;
  margin: 1rem;
  width: 50%;
}
